@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
  font-family: "Inter", sans-serif;
}

html,
body {
  scroll-behavior: smooth;
  scroll-snap-type: mandatory;
}

:root {
  --primarColor: #6f3798;
  --primaryColorHover: rgb(138 103 163);
  --indicatorColor: rgb(234, 236, 240);
  --textPrimary: #6941c6;
  --textSecondry: #7f56d9;
  --textSecondryLight: #b096e9;
  --textNormal: #344054;
  --textNormalSec: #475467;
  --primaryBtnBg: #7f56d9;
  --grayAmoutColor: #d0d5dd;
  --btnActiveColorBg: #f9f5ff;
}

.CdnPurpleTextPrimary {
  color: var(--textPrimary);
}

.CdnPurpleTextSecondry {
  color: var(--textSecondry);
}

.CdnPurpleTextNormal {
  color: var(--textNormal);
}

.CdnPurpleTextNormalSec {
  color: var(--textNormalSec);
}

.CdnPurpleBgPrimary {
  background-color: var(--primarColor);
}

.CdnPurpleBgIndicatorColor {
  background-color: var(--indicatorColor);
}

.CdnPurpleApp {
  width: 100dvw !important;
  height: 100dvh !important;
  overflow-y: auto;
  position: absolute;
  top: 0;
}

button {
  outline: none !important;
}
.CdnPurplePointer {
  cursor: pointer;
}
.CdnPurpleCursorNone {
  cursor: not-allowed;
}

.CdnPurpleBgBlur {
  background: rgba(16, 15, 15, 0.3);
  /* box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37); */
  backdrop-filter: blur(4.5px);
  -webkit-backdrop-filter: blur(4.5px);
  /* border: 1px solid rgba(255, 255, 255, 0.18); */
}

.CdnPurpleBtn {
  padding: 16px 22px !important;
  outline: none !important;
  font-size: 18px !important;
  font-weight: 600 !important;
  box-shadow: 0px 1px 2px 0px #1018280d !important;
  border-radius: 0.375rem !important /* 6px */;
  border: 0 !important;
  outline: none !important;
}

.CdnPurpleBtnPrimary {
  background-color: var(--primaryBtnBg) !important;
  color: white !important;
}

.CdnPurpleBtn:focus {
  box-shadow: none !important;
}

.CdnPurpleIndicatorShadow {
  box-shadow: 0px 0px 0px 4px #9e77ed3d;
}

.CdnPurplePopUpWrapper {
  width: 100%;
  /* height: 100dvh; */
  margin-left: auto;
  margin-right: auto;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  z-index: 2147483647 !important;
}

.CdnPurpleFormContainer {
  max-width: 960px;
  width: 100%;
  background-color: rgb(255 255 255);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100dvh;
}

.CdnPurpleFormContainerSuccesss {
  max-width: 960px;
  width: 100%;
  background-color: rgb(255 255 255);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

@media (min-width: 768px) {
  .CdnPurplePopUpWrapper {
    align-items: center;
  }
  .CdnPurpleFormContainer {
    border-radius: 24px;
    padding: 24px;
    min-height: 738px;
    height: auto;
    max-height: 100dvh;
  }
  .CdnPurpleFormContainerSuccesss {
    border-radius: 24px;
    padding: 24px;
    min-height: auto;
    height: auto;
  }
}

.CdnPurpleBorderOfBtn {
  border: 1px solid var(--grayAmoutColor) !important;
  background-color: white;
}

.CdnPurplePrevNext {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

.CdnPurpleBtnWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

.CdnPurplePrevArrowimg {
  width: 14px;
  height: 14px;
  transform: rotate(180deg);
}
.CdnPurpleNextArrowimg {
  width: 14px;
  height: 14px;
}

.CdnPurpleIndicatorWH {
  width: 32px;
  height: 32px;
}

.CdnPurpleFormBodyContainer {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  gap: 10px;
}

.CdnPurpleFormBodyLeft {
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 8px 16px;
  border-top: 1px solid var(--grayAmoutColor);
  z-index: 5;
  background-color: #fff;
}

.CdnPurpleFormBodyRight {
  flex: 1;
  width: 100%;
  height: calc(100dvh - 53px);
  padding-inline: 16px;
  padding-block: 8px 5px;
  overflow-y: auto;
  padding-bottom: 55px;
}
.CdnPurpleFormBodyBottom {
  display: none;
}

.CdnPurpleIndicatorWrapper {
  display: flex;
  flex-direction: row;
  gap: 3px;
  justify-content: space-between;
  align-items: center;
}
.CdnPurpleRoundedFull {
  border-radius: 9999px;
}

.CdnPurpleIndiDiv {
  display: flex;
  width: auto;
  gap: 10px;
  margin-bottom: 3px;
}

.CdnPurpleIndicatorLeft {
  width: 32px;
  flex-shrink: 0;
}

.CdnPurpleIndicatorLeft .CdnPurpleInnerDiv {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
}

.CdnPurplelineBar {
  width: 2px;
  height: 100%;
  margin-top: 4px;
}

.CdnPurpleIndicatorRight {
  display: none;
}

.CdnPurpleShowMobile {
  display: block;
}

.CdnPurpleIndicatorRightMobile {
  display: flex;
  flex-direction: column;
  gap: 2px;
  flex: 1 1 0%;
  padding: 4px 0;
}

.CdnPurpleBorderB {
  border-bottom: 1px solid var(--grayAmoutColor);
  padding-bottom: 20px;
}

.CdnPurpleIndicatorHeader {
  font-size: 16px;
  font-weight: 600;
}
.CdnPurpleIndicatorDetail {
  font-size: 16px;
  font-weight: 400;
}

.CdnPurpleGenralLogo {
  display: none !important;
}

.CdnPurpleMobileLogoDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding-top: 8px;
  padding-bottom: 16px;
}

.CdnPurpleLogoDiv {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.CdnPurpleLogoDiv img {
  width: 134px;
  height: 50px;
}

.CdnPurpleMobileBack {
  font-weight: 600;
  font-size: 14px;
  height: 36px;
  width: 62px;
  background-color: white;
  border-radius: 8px;
  line-height: 20px;
  border: 1px solid var(--grayAmoutColor);
}

.CdnPurpleMobileNext {
  line-height: 20px;
  font-weight: 600;
  font-size: 14px;
  height: 36px;
  width: 84px;
  background-color: var(--textSecondry);
  color: white;
  border: 1px solid transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  outline: none;
  border-radius: 8px;
}
.CdnPurpleMobileNone {
  display: none;
}
.CdnPurpleXbtn {
  position: absolute;
  cursor: pointer;
  right: 24px;
  top: 27px;
  display: flex;
  width: 24px;
  height: 24px;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
  background-color: transparent;
}

@media (min-width: 768px) {
  .CdnPurpleShowMobile {
    display: none;
  }
  .CdnPurpleFormBodyLeft {
    position: relative;
    flex: 0.36;
    border-right: 1px solid var(--grayAmoutColor);
    height: 100%;
    padding: 0;
    border-top: none;
  }
  .CdnPurpleMobileNone {
    display: block;
  }
  .CdnPurpleFormBodyContainer {
    flex-direction: row;
    gap: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid rgb(208 213 221);
    align-items: flex-start;
  }
  .CdnPurpleIndicatorWrapper {
    flex-direction: column;
    padding-top: 16px;
    padding-bottom: 16px;
    gap: 0;
  }

  .CdnPurpleFormBodyBottom {
    display: flex;
    flex: 1 1 0%;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-height: 60px;
    margin-top: 16px;
  }

  .CdnPurpleIndicatorRight {
    display: flex;
    flex-direction: column;
    gap: 2px;
    flex: 1 1 0%;
    padding: 4px 0;
  }

  .CdnPurpleFormBodyRight {
    flex: 0.64;
    display: flex;
    padding: 0;
    max-height: 645px;
    height: auto;
  }

  .CdnPurpleIndiDiv {
    gap: 1rem;
    width: 100%;
    min-height: 82px;
    margin-bottom: 4px;
  }

  .CdnPurpleMobileLogoDiv {
    display: none;
  }
  .CdnPurpleGenralLogo {
    display: block !important;
  }
  .CdnPurpleMobileBack {
    display: none;
  }
  .CdnPurpleMobileNext {
    display: none;
  }
}
.CdnPurpleNextArrowImgMobile {
  width: 12px;
  height: 12px;
}

.CdnPurpleAccordianDiv {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
}

.CdnPurpleAccordianChildren {
  height: fit-content;
  width: 100%;
  border: 1px solid var(--grayAmoutColor);
  /* padding: 18px 16px; */
  border-radius: 10px;
}

.CdnPurpleAccordianInnerdiv {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 16px;
  cursor: pointer;
}

.CdnPurpleAccordianIconDiv {
  display: flex;
  gap: 10px;
  align-items: center;
}

.CdnPurpleAccDetailDiv {
  padding-bottom: 16px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 16px;
  padding-left: 16px;
  padding-right: 16px;
}

.CdnPurpleQueDetailDiv {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 16px;
}

/* //rightside of form body css */

.CdnPurpleRightDetailHeader {
  position: sticky;
  top: 0px;
  background-color: white;
  z-index: 5;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}
.CdnPurpleRightDetailWrapper {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.CdnPurpleAccWrpper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}

.CdnPurpleArrowWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.4s ease-in-out;
}

.CdnPurpleAccTitle {
  font-size: 16px;
  font-weight: 600;
  color: var(--textNormal);
}

.CdnPurpleArrowWrapper img {
  width: 24px;
  height: 24px;
}

.CdnPurpleAccIcon {
  width: 24px;
  height: 24px;
}

.CdnPurpleAccBtns {
  border-width: 1px;
  border-style: solid;
  padding: 8px 12px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.CdnPurpleAccBtnActive {
  border-color: var(--textSecondry);
  background-color: var(--btnActiveColorBg);
}
.CdnPurpleAccBtnDefault {
  border-color: var(--grayAmoutColor);
  background-color: #fff;
}

.CdnPurpleQueMainWrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.CdnPurpleQueWrapper {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--grayAmoutColor);
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 16px;
  padding-top: 16px;
  border-radius: 8px;
}

.CdnPurpleAccTitleDiv {
  padding: 12px 0px;
}
.queTitleDiv {
  padding-block: 8px 12px;
}
@media (min-width: 768px) {
  .CdnPurpleAccordianInnerdiv {
    padding: 18px 16px;
  }
  .queTitleDiv {
    padding-block: 8px 20px;
  }
  .CdnPurpleQueWrapper {
    border: none;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
  }
  .CdnPurpleQueMainWrapper {
    gap: 16px;
  }
  .CdnPurpleRightDetailHeader {
    font-size: 24px;
    line-height: 32px;
    text-align: start;
  }
  .CdnPurpleAccTitle {
    font-size: 18px;
  }
  .CdnPurpleAccBtns {
    font-size: 18px;
    padding: 14px 18px;
    /* padding: 18px 22px; */
  }
  .CdnPurpleRightDetailWrapper {
    height: 100%;
  }
  .CdnPurpleAccTitleDiv {
    padding: 18px 0px;
  }
}

::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--primaryBtnBg);
  border-radius: 8px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--textSecondry);
}

.CdnPurpleDragAndDropDiv {
  border: 2px solid var(--primaryBtnBg);
  border-radius: 8px;
  width: 100%;
  padding: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 12px;
  position: relative;
  cursor: pointer;
}

.CdnPurpleDropIcon {
  width: 40px;
  height: 40px;
}

.CdnPurpleHeroTextContainer {
  font-size: 14px;
  font-weight: 400;
  color: var(--textNormalSec);
}

.CdnPurpleHeroText {
  font-weight: 600;
  color: var(--textPrimary);
  margin-right: 4px;
}

.CdnPurpleTextContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 4px;
}

.CdnPurpleBgDragover {
  background-color: var(--btnActiveColorBg);
}

.CdnPurpleImageDescWrppaer {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--grayAmoutColor);
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 16px;
  padding-top: 16px;
  border-radius: 8px;
}

.CdnPurpleIssueImageWrapper {
  overflow-x: auto;
  display: flex;
  gap: 4px;
}

.CdnPurpleIssueImageWrapper::-webkit-scrollbar {
  width: 6px; /* Width of the vertical scrollbar */
  height: 6px; /* Height of the horizontal scrollbar */
}

.CdnPurpleImgRelativeDiv {
  position: relative;
}

.CdnPurpleIssueImage {
  /* width: 260px; */
  /* height: 195px; */
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.CdnPurpleTextAreaWrapper {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.CdnPurpleTextAreaWrapper label {
  font-size: 14px;
  font-weight: 500;
  color: var(--textNormal);
}

.CdnPurpleTextAreaWrapper textarea {
  resize: none;
  border-radius: 8px;
  border: 1px solid var(--grayAmoutColor);
  padding: 12px 14px;
  height: 84px;
  outline: none;
  font-size: 14px;
  font-weight: 400;
  color: #667085;
  overflow: auto;
}

.CdnPurpleTrashIcon {
  width: 18px;
  height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  mix-blend-mode: normal;
  border: 0;
  outline: 0;
  position: absolute;
  right: 4px;
  top: 4px;
  cursor: pointer;
  padding: 4px;
  background-color: white;
  border-radius: 50%;
  transition: all 0.2s ease-in-out;
}
.CdnPurpleTrashIcon:hover {
  width: 20px;
  height: 20px;
}

.CdnPurpleTrashIcon img {
  width: 100%;
  height: 100%;
}

.CdnPurpleUploadingStateDiv {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--grayAmoutColor);
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 16px;
  padding-top: 16px;
  border-radius: 8px;
  gap: 4px;
}

.CdnPurpleUploadStatetext {
  font-size: 14px;
  font-weight: 500;
  color: var(--textNormal);
}

.CdnPurpleUploadSize {
  font-size: 14px;
  font-weight: 400;
  color: var(--textNormal);
}

.CdnPurpleUploadLoadingBarWrapper {
  display: flex;
  gap: 12px;
  justify-content: center;
  align-items: center;
}

.CdnPurplePercentage {
  font-size: 14px;
  font-weight: 500;
  color: var(--textNormal);
  width: 37px;
  height: 20px;
}

.CdnPurpleProgressBarLoader {
  flex: 1;
  height: 8px;
  display: flex;
  justify-content: flex-start;
  border-radius: 20px;
  background-color: var(--btnActiveColorBg);
  overflow: hidden;
}

.CdnPurpleProgressBarWidth {
  border-radius: 20px;
  background-color: var(--primaryBtnBg);
  transition: width 2s ease-in-out;
}

.CdnPurpleCustomerWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.CdnPurpleCustomerSwitch {
  display: flex;
  gap: 24px;
  justify-content: flex-start;
  align-items: center;
}

.CdnPurpleCustomerFieldsWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: flex-start;
  align-items: center;
  padding: 24px 0;
  width: 100%;
}

.CdnPurpleInputFieldsWrapper {
  display: flex;
  flex-direction: column;
  gap: 6px;
  flex: 1;
}

.CdnPurpleInputCustomerLabel {
  font-size: 14px;
  font-weight: 500;
  color: var(--textNormal);
}

.CdnPurpleInputCustomerInputTag {
  border: 1px solid var(--grayAmoutColor);
  color: #667085;
  font-size: 14px;
  font-weight: 400;
  outline: none;
  padding: 10px 14px;
  border-radius: 8px;
}

.CdnPurpleScheduleWrapper {
  display: flex;
  flex-direction: column;
}

.CdnPurpleSlotBtn {
  width: 100%;
  font-size: 14px !important;
  cursor: pointer;
}

.CdnPurpleSlotBtn img {
  width: 20px !important;
  height: 20px !important;
}

@media (min-width: 768px) {
  .CdnPurpleSlotBtn {
    width: 100%;
    cursor: pointer;
    font-size: 16px !important;
  }
  .CdnPurpleSlotBtn img {
    width: 22px !important;
    height: 22px !important;
  }
  .CdnPurpleTermsCheckBoxWrapper {
    justify-content: center !important;
  }
  .CdnPurpleTermsCheckBoxWrapper label {
    font-size: 18px !important;
  }
  input[type="checkbox"] {
    accent-color: var(--textPrimary) !important;
    width: 20px !important;
    height: 20px !important;
  }
}

.CdnPurpleSlotButtonWrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-top: 10px;
}

.CdnPurpleSlotBtn span {
  height: 100%;
  display: block;
  flex-grow: 1;
}

.CdnPurpleTermsCheckBoxWrapper {
  display: flex;
  padding: 16px 0;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
}

.CdnPurpleTermsCheckBoxWrapper label {
  font-size: 14px;
  font-weight: 600;
  color: var(--textNormal);
}

input[type="checkbox"] {
  accent-color: var(--textPrimary) !important;
  width: 16px !important;
  height: 16px !important;
}

.CdnPurpleConfirmationButtons {
  flex: 1;
}

.CdnPurpleConfirmationButtons span {
  height: 100%;
  flex-grow: 1;
}

.CdnPurpleSuccessPageDiv {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 24px;
}

.CdnPurplelogoOfSuccessDiv img {
  width: 134px;
  height: 78px;
}

.CdnPurpleHeroImageWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.CdnPurpleHeroImageWrapper img {
  width: 256px;
  height: 256px;
}

.CdnPurpleSuccessTextDiv {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.CdnPurpleSuccessTextDiv h2 {
  font-size: 24px;
  font-weight: 600;
  color: #000000;
  text-align: center;
}

.CdnPurpleSuccessTextDiv p {
  width: 90%;
  font-size: 18px;
  font-weight: 600;
  color: var(--textNormal);
  text-align: center;
}

.CdnPurpleGoToHomePageBtn {
  padding: 8px 12px;
  border-radius: 8px;
  outline: none;
  border: 1px solid var(--primaryBtnBg);
  background-color: var(--primaryBtnBg);
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}
.CdnPurpleGoToHomePageBtn img {
  width: 20px;
  height: 20px;
}

@media (min-width: 768px) {
  .CdnPurpleSuccessTextDiv p {
    width: auto;
  }
  .CdnPurpleSuccessPageDiv {
    min-height: 540px;
  }
  .CdnPurpleGoToHomePageBtn {
    padding: 21px;
    font-size: 18px;
    font-weight: 600;
    gap: 10px;
  }
  .CdnPurpleGoToHomePageBtn img {
    width: 24px;
    height: 24px;
  }
}

.CdnPurpleulList {
  display: flex;
  flex-direction: column;
  padding-left: 1.5rem;
  padding-bottom: 32px;
}

.CdnPurpleulList li {
  font-size: 16px;
  font-weight: 400;
  padding-right: 5px;
}

.CdnPurpleulList li span {
  font-size: 16px;
  font-weight: 600;
}

/* overriding styles of date-picker */

.react-datepicker {
  border: none !important;
  padding-top: 6px !important;
}

.react-datepicker__month-container {
  width: 100%;
  float: none !important;
}

.react-datepicker__day-names,
.react-datepicker__week {
  display: flex;
  justify-content: space-evenly;
}

.react-datepicker__day--selected,
.react-datepicker__day--in-selecting-range,
.react-datepicker__day--in-range,
.react-datepicker__month-text--selected,
.react-datepicker__month-text--in-selecting-range,
.react-datepicker__month-text--in-range,
.react-datepicker__quarter-text--selected,
.react-datepicker__quarter-text--in-selecting-range,
.react-datepicker__quarter-text--in-range,
.react-datepicker__year-text--selected,
.react-datepicker__year-text--in-selecting-range,
.react-datepicker__year-text--in-range {
  background-color: var(--textSecondry) !important;
  border-radius: 20px !important;
  color: #fff !important;
}

.react-datepicker__day:hover,
.react-datepicker__month-text:hover,
.react-datepicker__quarter-text:hover,
.react-datepicker__year-text:hover {
  background-color: var(--btnActiveColorBg) !important;
  border-radius: 20px !important;
}

.react-datepicker__day--today {
  background-color: var(--textSecondryLight);
  color: #fff !important;
}
.react-datepicker__day--today:hover {
  background-color: var(--textSecondryLight) !important;
}

.react-datepicker__day--selected {
  color: #fff !important;
}
.react-datepicker__day--selected:hover {
  background-color: var(--textSecondry) !important;
}

.react-datepicker__day {
  width: 64px !important;
  height: 32px !important;
  display: flex !important;
  justify-content: center;
  align-items: center;
  float: none !important;
  border-radius: 20px;
  position: relative !important;
}

.react-datepicker__header {
  background-color: transparent !important;
  border-bottom: none !important;
  padding: 0 !important;
}

.react-datepicker__day-names {
  margin-bottom: 0 !important;
  margin-top: 12px !important;
}

.react-datepicker__day-name:not(.react-datepicker__day--selected),
.react-datepicker__day:not(.react-datepicker__day--selected),
.react-datepicker__time-name:not(.react-datepicker__day--selected) {
  width: 64px !important;
  height: 32px !important;
  display: flex !important;
  justify-content: center;
  align-items: center;
  float: none !important;
  font-size: 14px;
  font-weight: 500;
}

.react-datepicker__month {
  margin: 0.4rem 0 !important;
}

.react-datepicker__navigation--next {
  right: 60px !important;
  top: 3px !important;
}
.react-datepicker__navigation--previous {
  left: 60px !important;
  top: 3px !important;
}

@media (min-width: 426px) {
  .react-datepicker__navigation--next {
    right: 100px !important;
    top: 3px !important;
  }
  .react-datepicker__navigation--previous {
    left: 100px !important;
    top: 3px !important;
  }
}

@media (min-width: 769px) {
  .react-datepicker__navigation--next {
    right: 148px !important;
    top: 3px !important;
  }
  .react-datepicker__navigation--previous {
    left: 148px !important;
    top: 3px !important;
  }
}

.react-datepicker__year-read-view--down-arrow,
.react-datepicker__month-read-view--down-arrow,
.react-datepicker__month-year-read-view--down-arrow,
.react-datepicker__navigation-icon::before {
  border-color: var(--textNormal) !important;
  border-style: solid !important;
  border-width: 2px 2px 0 0 !important;
  content: "" !important;
  display: block !important;
  height: 6px !important;
  position: absolute !important;
  top: 6px !important;
  width: 6px !important;
}

.react-datepicker__current-month,
.react-datepicker-time__header,
.react-datepicker-year-header {
  font-size: 16px !important;
  font-weight: 600 !important;
  color: var(--textNormal);
}

.react-datepicker__day--disabled,
.react-datepicker__month-text--disabled,
.react-datepicker__quarter-text--disabled,
.react-datepicker__year-text--disabled {
  color: #ccc !important;
  cursor: not-allowed !important;
  opacity: 0.6 !important;
}

.react-datepicker__navigation--previous--disabled span::before {
  border-color: #ccc !important;
  cursor: not-allowed !important;
}
.react-datepicker__navigation--next--disabled span::before {
  border-color: #ccc !important;
  cursor: not-allowed !important;
}

.react-datepicker__day--keyboard-selected {
  background-color: var(--textSecondry) !important;
  border-radius: 20px !important;
  color: #fff !important;
}

.react-datepicker__day--keyboard-selected:hover {
  background-color: var(--textSecondry) !important;
  color: #fff !important;
}

.react-datepicker__day:has(.react-datepicker__day--selected) {
  color: #fff !important;
}
.react-datepicker__day:has(
    .react-datepicker__day--disabled,
    .react-datepicker__month-text--disabled,
    .react-datepicker__quarter-text--disabled,
    .react-datepicker__year-text--disabled,

  ) {
  color: var(--textNormal) !important;
}

.react-datepicker__day--highlighted:not(.react-datepicker__day--selected) {
  background-color: transparent !important;
  position: relative !important;
  color: var(--textNormal) !important;
}

.react-datepicker__day--highlighted:has(.react-datepicker__day--selected) {
  position: relative !important;
}

.react-datepicker__day
  .react-datepicker__day--selected
  .react-datepicker__day--weekend
  .react-datepicker__day--highlighted {
  position: relative !important;
}

.react-datepicker__day--highlighted:hover {
  background-color: var(--btnActiveColorBg) !important;
}

.react-datepicker__day--highlighted:not(
    .react-datepicker__day--selected
  )::after {
  position: absolute;
  content: "";
  height: 3px;
  width: 3px;
  background-color: var(--textSecondry);
  display: block;
  bottom: 3px;
  left: 50%;
  transform: translateX(-50%);
}

.react-datepicker__day--highlighted:has(
    .react-datepicker__day--selected
  )::after {
  position: absolute;
  content: "";
  height: 3px;
  width: 3px;
  background-color: #fff !important;
  display: block;
  bottom: 3px;
  left: 50%;
  transform: translateX(-50%);
}
