@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
  font-family: "Inter", sans-serif;
}

:root {
  --primarColor: #6f3798;
  --primaryColorHover: rgb(138 103 163);
  --indicatorColor: rgb(234, 236, 240);
  --textPrimary: #6941c6;
  --textSecondry: #7f56d9;
  --textNormal: #344054;
  --textNormalSec: #475467;
  --primaryBtnBg: #7f56d9;
  --grayAmoutColor: #d0d5dd;
  --btnActiveColorBg: #f9f5ff;
}

.textPrimary {
  color: var(--textPrimary);
}
.textSecondry {
  color: var(--textSecondry);
}

.textNormal {
  color: var(--textNormal);
}

.textNormalSec {
  color: var(--textNormalSec);
}

.bgPrimary {
  background-color: var(--primarColor);
}

.bgIndicatorColor {
  background-color: var(--indicatorColor);
}
/* #root {
  background-image: url("https://images-platform.99static.com//bDfjACPHvzyWVlrc0bNhC9xLS2k=/0x0:1920x1920/fit-in/500x500/99designs-contests-attachments/95/95980/attachment_95980253");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100dvh !important;
} */

.App {
  width: 100dvw !important;
  height: 100dvh !important;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

button {
  outline: none;
}
.pointer {
  cursor: pointer;
}
.cursorNone {
  cursor: not-allowed;
}

.bgBlur {
  background: rgba(16, 15, 15, 0.3);
  /* box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37); */
  backdrop-filter: blur(4.5px);
  -webkit-backdrop-filter: blur(4.5px);
  /* border: 1px solid rgba(255, 255, 255, 0.18); */
}

.btn {
  padding: 16px 22px;
  outline: none;
  font-size: 18px;
  font-weight: 600;
  box-shadow: 0px 1px 2px 0px #1018280d;
  border-radius: 0.375rem /* 6px */;
  border: 0;
  outline: none;
}

.btnPrimary {
  background-color: var(--primaryBtnBg);
  color: white;
}

.btn:focus {
  box-shadow: none !important;
}

.indicatorShadow {
  box-shadow: 0px 0px 0px 4px #9e77ed3d;
}

.popUpWrapper {
  width: 100%;
  height: 100dvh;
  margin-left: auto;
  margin-right: auto;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.formContainer {
  max-width: 960px;
  width: 100%;
  background-color: rgb(255 255 255);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

@media (min-width: 768px) {
  .popUpWrapper {
    align-items: center;
  }
  .formContainer {
    border-radius: 24px;
    padding: 24px;
    height: 738px;
  }
}

.borderOfBtn {
  border: 1px solid var(--grayAmoutColor);
  background-color: white;
}

.prevNext {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

.btnWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

.prevArrowimg {
  width: 14px;
  height: 14px;
  transform: rotate(180deg);
}
.nextArrowimg {
  width: 14px;
  height: 14px;
}

.indicatorWH {
  width: 32px;
  height: 32px;
}

.formBodyContainer {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  gap: 10px;
}

.formBodyLeft {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 8px 16px;
  border-top: 1px solid var(--grayAmoutColor);
}

.formBodyRight {
  flex: 1;
  width: 100%;
  height: 100%;
  padding-inline: 16px;
  padding-block: 8px 5px;
  overflow-y: auto;
}
.formBodyBottom {
  display: none;
}

.indicatorWrapper {
  display: flex;
  flex-direction: row;
  gap: 3px;
  justify-content: space-between;
  align-items: center;
}
.rounded-full {
  border-radius: 9999px;
}

.indiDiv {
  display: flex;
  width: auto;
  gap: 10px;
}

.indicatorLeft {
  width: 32px;
  flex-shrink: 0;
}

.indicatorLeft .innerDiv {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.lineBar {
  width: 2px;
  height: 46px;
  margin-top: 4px;
}

.indicatorRight {
  display: none;
}

.indicatorHeader {
  font-size: 16px;
  font-weight: 600;
}
.indicatorDetail {
  font-size: 16px;
  font-weight: 400;
}

.genralLogo {
  display: none !important;
}

.mobileLogoDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding-top: 8px;
  padding-bottom: 16px;
}

.logoDiv {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logoDiv img {
  width: 134px;
  height: 50px;
}

.mobileBack {
  font-weight: 600;
  font-size: 14px;
  height: 36px;
  width: 62px;
  background-color: white;
  border-radius: 8px;
  line-height: 20px;
  border: 1px solid var(--grayAmoutColor);
}

.mobileNext {
  line-height: 20px;
  font-weight: 600;
  font-size: 14px;
  height: 36px;
  width: 84px;
  background-color: var(--textSecondry);
  color: white;
  border: 1px solid transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  outline: none;
  border-radius: 8px;
}
.mobileNone {
  display: none;
}
.Xbtn {
  position: absolute;
  cursor: pointer;
  right: 24px;
  top: 27px;
  display: flex;
  width: 24px;
  height: 24px;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
  background-color: transparent;
}

@media (min-width: 768px) {
  .formBodyLeft {
    flex: 0.36;
    border-right: 1px solid var(--grayAmoutColor);
    height: 100%;
    padding: 0;
    border-top: none;
  }
  .mobileNone {
    display: block;
  }
  .formBodyContainer {
    flex-direction: row;
    gap: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid rgb(208 213 221);
  }
  .indicatorWrapper {
    flex-direction: column;
    padding-top: 16px;
    padding-bottom: 16px;
    gap: 0;
  }

  .formBodyBottom {
    display: flex;
    flex: 1 1 0%;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-height: 60px;
    margin-top: 16px;
  }

  .indicatorRight {
    display: flex;
    flex-direction: column;
    gap: 2px;
    flex: 1 1 0%;
    padding: 4px 0;
  }

  .formBodyRight {
    flex: 0.64;
    display: flex;
    padding: 0;
    /* max-height: 600px; */
  }

  .indiDiv {
    gap: 1rem;
    width: 100%;
    height: 86px;
  }

  .mobileLogoDiv {
    display: none;
  }
  .genralLogo {
    display: block !important;
  }
  .mobileBack {
    display: none;
  }
  .mobileNext {
    display: none;
  }
}
.nextArrowImgMobile {
  width: 12px;
  height: 12px;
}

.accordian-div {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
}

.accordian-children {
  height: fit-content;
  width: 100%;
  border: 1px solid var(--grayAmoutColor);
  padding: 18px 16px;
  border-radius: 10px;
}

.accordian-innerdiv {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.accordian-icon-div {
  display: flex;
  gap: 10px;
  align-items: center;
}

.accDetailDiv {
  padding-top: 16px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 16px;
}

/* //rightside of form body css */

.rightDetailHeader {
  position: sticky;
  top: 0px;
  background-color: white;
  z-index: 5;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}
.rightDetailWrapper {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-height: 608px;
}

.accWrpper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}

.arrowWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.4s ease-in-out;
}

.accTitle {
  font-size: 18px;
  font-weight: 600;
  color: var(--textNormal);
}

.arrowWrapper img {
  width: 24px;
  height: 24px;
}

.accIcon {
  width: 24px;
  height: 24px;
}

.accBtns {
  border-width: 1px;
  border-style: solid;
  padding: 18px 22px;
  border-radius: 8px;
  font-size: 18px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
}

.accBtnActive {
  border-color: var(--textSecondry);
  background-color: var(--btnActiveColorBg);
}
.accBtnDefault {
  border-color: var(--grayAmoutColor);
}

@media (min-width: 768px) {
  .rightDetailHeader {
    font-size: 24px;
    line-height: 32px;
    text-align: start;
  }
}

::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--primaryBtnBg);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--textSecondry);
}
